<article class="post">

    <div class="title">
        <div class="be-img-comment">
            <a href="#">
                <img id={{user.username}} alt="" class="be-ava-comment">
            </a>
        </div>
        <h4> {{{title}}}</h4>
    </div>
  
    <div class ="text">
        <p>{{{post_text}}}</p>        
    </div>
  
    <div class="meta">
        create at {{format_date createdAt}} by {{user.username}}
        <a href="/post/{{id}}">{{comments.length}} Comment(s)</a>
    </div>
  
</article>

<script type="text/javascript">
    async function fetchImage() {
        let image = await fetch('https://ui-avatars.com/api/?name={{user.username}}')
            .then(response => response.blob())
            .then(data => {
                return URL.createObjectURL(data);
            });
        document.getElementById("{{user.username}}").src = image;
    }
    fetchImage();
</script>